<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86099946857-ac7hfgj6iltkoi8vukkffphsb7bb9sno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86099946857-ac7hfgj6iltkoi8vukkffphsb7bb9sno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86099946857-a7ltlookps64eq6qncl1ima46u7dmj8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJuj_Hb1rhVnHcsg23OTCbGdHULcTv6cc</string>
	<key>GCM_SENDER_ID</key>
	<string>86099946857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seungchan.Hansung-Notification</string>
	<key>PROJECT_ID</key>
	<string>hansung-notification-f6281</string>
	<key>STORAGE_BUCKET</key>
	<string>hansung-notification-f6281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86099946857:ios:22ed36e544273ef993e1f8</string>
	<key>DATABASE_URL</key>
	<string>https://hansung-notification-f6281-default-rtdb.firebaseio.com</string>
</dict>
</plist>